<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="9.7">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Contact Us</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="container">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <div class="form-group contact_info">
                    <ion-label class="content">Email Id</ion-label>
                    <ion-label class="title"><a href="mailto:test@test.com">test@test.com</a></ion-label>
                </div>
                <div class="form-group contact_info">
                    <ion-label class="content">Mobile No.</ion-label>
                    <ion-label class="title"><a href="tel:+919978277570">+91 9978277570</a></ion-label>
                </div>
                <div class="form-group contact_info">
                    <ion-label class="content">Address</ion-label>
                    <ion-label class="title">Kushal Enterprise, 234,cosmo complex,Mumbai.</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


