<ion-content>
    <div class="main-content">
        <ion-img class="img-logo" src="../../../assets/images/logo.png"></ion-img>
        <form [formGroup]="loginForm" (ngSubmit)="login()" style="padding: 0 0px;">

            <ion-grid class="info-view">

                <ion-row class="mt-20">
                    <ion-col>
                        <ion-item class="box-des">
                            <ion-input type="tel" maxlength="10" placeholder="Mobile No" formControlName='mobile'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row class="mt-10">
                    <ion-col>
                        <ion-button class="btn-red" type="submit">Login</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="mt-10">
                    <ion-col>
                        <ion-button  class="btn-trans" (click)="register()">Register</ion-button>
                    </ion-col>
                </ion-row>
                <!-- <ion-row class="mt-20">
                    <ion-col style="text-align: center;">
                        <ion-label> <span (click)="forgotPassword()">Forgot Password?</span></ion-label>
                    </ion-col>
                </ion-row> -->
            </ion-grid>
        </form>
    </div>

</ion-content>