<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="9.7">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Add Machine Part</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm"  style="padding: 0 0px;">
        <ion-grid class="container">
            <ion-row class="p-0">
                <ion-col size="12" class="p-0">
                    <div class="form-group">
                        <ion-select okText="Ok" placeholder="Select Machine Name" class="custom_select" cancelText="Dismiss" formControlName='agent' (ionChange)="onChangeState($event.target.value)">
                            <ion-select-option *ngFor="let item of MachineList" value="{{item.MachineID}}">{{item.MachineName}}</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="form-group">
                        <ion-input type="text" class="form-control" placeholder="Enter Part Name"  formControlName='pname'></ion-input>
                    </div>
                    <div class="form-group">
                        <ion-input type="text" class="form-control" placeholder="Enter Part Number"  formControlName='pno' ></ion-input>
                    </div>
                    <div class="form-group">
                        <ion-input type="number" class="form-control" placeholder="Enter Part QTY"  formControlName='QOH'></ion-input>
                    </div>
                    <div class="button_box">
                        <ion-button class="btn-red" (click)="addPart()">Add Part</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>               
    </form>
</ion-content>

