<ion-content>
    <div class="main-content">
        <form [formGroup]="loginForm" (ngSubmit)="register()" style="padding: 0 0px;">

            <ion-row>
                <ion-col>
                    <ion-img class="img-logo" src="../../../assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>

            <ion-grid class="info-view">
                <ion-row class="p-0">
                    <ion-col size="12">
                        <div class="form-group">
                            <ion-input type="text" placeholder="First Name" formControlName='fname' class="form-control"></ion-input>

                        </div>
                        <div class="form-group">
                            <ion-input type="text" placeholder="Last Name" class="form-control" formControlName='lname'></ion-input>
                        </div>

                        <div class="form-group">
                            <ion-input type="text" placeholder="Company Name" class="form-control" formControlName='compname'></ion-input>
                        </div>

                        <div class="form-group">
                            <ion-input type="email" placeholder="Email" class="form-control" formControlName='email'></ion-input>
                        </div>

                        <div class="form-group">
                            <ion-input type="tel" maxlength="10" placeholder="Mobile No" class="form-control" formControlName='mobile'></ion-input>
                        </div>

                        <div class="form-group">
                            <ion-select okText="Ok" placeholder="Select Agent" class="custom_select" cancelText="Dismiss" formControlName='agent' (ionChange)="onChangeState($event.target.value)">
                                <ion-select-option *ngFor="let item of AgentList" value="{{item.id}}">{{item.agentname}}</ion-select-option>
                            </ion-select>
                        </div>

                        <div class="button_box">
                            <ion-button class="btn-red" type="submit">Register</ion-button>
                            <ion-button class="btn-trans" (click)="login()">Login</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>

</ion-content>