<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="10.8">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Agent</ion-label>
                        </div>
                    </ion-col>

                    <ion-col size="1.2">
                        <ion-buttons no-padding (click)="addAgent()">
                            <ion-img src="../../../assets/images/plus.png"> </ion-img>
                        </ion-buttons>
                    </ion-col>


                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #fff">
    <ion-row style="padding: 0;" >
        <ion-col style="padding: 0;" size='12'>
            <div class="search_box">
                <ion-img class="search_icon" src="../../../assets/images/search.png"></ion-img>
                <ion-input type="search"  placeholder="Search Agent" [(ngModel)]="AgentName" (ionChange)="ionChange()"></ion-input>
            </div>
        </ion-col>
    </ion-row>

   
    <ion-list class="ion-no-padding" style="background: #fff !important">
        <ion-row class="box-des" style="align-items: center !important;" *ngFor="let agent of AgentList ;">
            <ion-col class="left_col"> 
                <ion-label class="d-block title f-15">{{agent.agentname}}</ion-label>
                <ion-label class="d-block">{{agent.email}}</ion-label>
                <ion-label>{{agent.phone}}</ion-label>
            </ion-col>

            <ion-col class="right_col"> 
                <div class="action_buttion">
                    <ion-img class="ac_img" src="../../../assets/images/edit.png" (click)="agentEdit(agent)"></ion-img>
                    <ion-img class="ac_img" src="../../../assets/images/delete.png" (click)="agentDelete(agent.id)"></ion-img>
                </div>
            
            </ion-col>
        </ion-row>

    </ion-list>


    <ion-card-content class="ion-no-padding empty-list-box" *ngIf="AgentList?.length == 0">
        <ion-label class="empty-list">
            No Data Available!
        </ion-label>
    </ion-card-content>

</ion-content>