<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="10.8">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Machine</ion-label>
                        </div>
                    </ion-col>

                    <ion-col size="1.2">
                        <ion-buttons no-padding (click)="addmachine()">
                            <ion-img src="../../../assets/images/plus.png"> </ion-img>
                        </ion-buttons>
                    </ion-col>


                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #fff">
    <ion-grid class="p-0 machine_lists" *ngFor="let machine of MachineList ; ">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <div class="img_box" (click)="Part(machine.MachineID)">
                    <ion-img class="ac_img" src="{{machine.MachinePic}}"></ion-img>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="box-des" style="align-items: center !important; border: none !important; ">
            <ion-col class="left_col">
                <ion-label class="d-block">{{machine.MachineName}}</ion-label>
            </ion-col>
            <ion-col class="right_col">
                <div class="action_buttion">
                    <ion-img class="ac_img" src="../../../assets/images/edit.png" (click)="medit(machine.MachineID,machine.MachineName)"></ion-img>
                    <ion-img class="ac_img" src="../../../assets/images/delete.png" (click)="mdelete(machine.MachineID)"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="container empty-list-box" *ngIf="MachineList?.length == 0">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <ion-label class="empty-list">No Data Available!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>