<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="9.7">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Edit Machine</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="addmachine()" style="padding: 0 0px;">
        <ion-grid class="container">
            <ion-row class="p-0">
                <ion-col size="12" class="p-0">
                    <div class="form-group">
                        <ion-input type="text" placeholder="Enter Machine Name" class="form-control" formControlName='mName'></ion-input>
                    </div>
                    <div class="form-group fileuploads">
                        <ion-input type="file" (change)="onDocChange($event)" class="file_input" accept="application/pdf"></ion-input>
                        <ion-label *ngIf="!pdf">Upload Machine PDF</ion-label>
                        <ion-label *ngIf="pdf">Machine.pdf</ion-label>
                        <ion-img class="menu-img" src="../../../assets/images/upload.png"></ion-img>
                    </div>

                    <div class="form-group fileuploads">
                        <input type="file" (change)="onFileChange($event)" class="file_input" accept="image/*">
                        <ion-label *ngIf="!image1">Upload Machine Image</ion-label>
                        <ion-label *ngIf="image1">Machine.png</ion-label>
                        <ion-img class="menu-img" src="../../../assets/images/upload.png"></ion-img>
                        <!-- <ion-img class="menu-img"  *ngIf="image1"
                            src="data:image/png;base64,{{image1}}"></ion-img> -->
                    </div>
                    <div class="button_box">
                        <ion-button class="btn-red" type="submit">Add Machine</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>