<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="9.7">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Edit Machine Part</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div>
        <form [formGroup]="loginForm"  style="padding: 0 0px;">

            <ion-grid>
                
                <ion-row class="mt-5">
                    <ion-col>
                        <ion-item class="box-des">
                            <ion-input type="text" [readonly]="isReadonly">{{this.MachineName}}</ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row class="mt-5">
                    <ion-col>
                        <ion-item class="box-des">
                            <ion-input type="text"   formControlName='pname'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row class="mt-5">
                    <ion-col>
                        <ion-item class="box-des">
                            <ion-input type="text" [readonly]="isReadonly" >{{this.PartsNo}}</ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                
                <ion-row class="mt-5">
                    <ion-col>
                        <ion-item class="box-des">
                            <ion-input type="number"   formControlName='QOH'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row class="mt-10">
                    <ion-col>
                        <ion-button class="btn-red" (click)="savePart()">Save</ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </form>
    </div>

</ion-content>

