.form-control {
    color: #0c0c0c !important;
}

.main-content {
    background: #f6f6f6 !important;
    position: relative !important;
}

.info-lbl {
    display: block;
    width: calc(100% - 30px);
    line-height: 18px;
    margin: 0px 15px;
}

.box-des {
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-radius: 5px !important;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: "Poppins";
}

ion-checkbox {
    --border: 2px solid #7d7d7d;
    --border-radius: 2px;
    --padding: 10px !important;
}

.checkbox-checked {
    // --background-checked: red;
    --border-color-checked: #7d7d7d;
    // --checkmark-color: red;
    // --border-width: 3px;
    --background-checked: #ff000000;
    // --border-color-checked: #e31e24;
    --checkmark-color: #009f4f;
    --border-width: 2px;
    --border: 1px solid #7d7d7d;
}

// .info-view {
//     margin-top: 80px !important;
//     padding-bottom: 90px !important;
// }
.info-view {
    --background: #f6f6f6 !important;
    background: #f6f6f6 !important;
    margin-top: 170px;
    padding-bottom: 20px;
}

.img-logo {
    top: 50px;
    width: 220px !important;
}